// comentario de sass
/* Estilos de paginas */

/* Variables */
$main-color: #754ef9;
$shadow-color: rgba(0, 0, 0, .2);
$white-color: #fdfdfd;
$bg-color: #fdfdfd;
$text-color: #333;

/* Mixins */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($time) {
  transition: $time ease;
}

@mixin box($padding, $background, $shadow) {
  padding: $padding;
  background: $background;
  box-shadow: 0 0.2rem 0.5rem $shadow;
}

/* Extendables */

%circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

%btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: $main-color;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem $shadow-color;
  font-size: 1.6rem;
  color: $white-color;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  @include transition(0.5s); &:hover {
    background: transparent;
    color: $main-color;
    border-color: $main-color;
  }
}

%heading {
  font-size: 4.5rem;
  text-align: center;
}

/* Home */

section {
  min-height: 100vh;
  padding: 10rem 7% 2rem;
}

.home {
  display: flex;
  align-items: center;
}

.home .home-content {
  max-width: 44rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: .3;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: .3rem;
}

.home-content p {
  font-size: 1.6rem;
}

.home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid $main-color;
  border-radius: 50%;
  box-shadow: 0 .2rem .5rem $shadow-color;
  font-size: 2rem;
  color: $main-color;
  margin: 2.5rem 1.5rem 3rem 0;
  transition: .5s ease;
}

.home-content .social-media a:hover {
  background: $main-color;
  color: $white-color;
}

.btn {
  @extend %btn;
}

.home .profession-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.home .profession-container .profession-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 768px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {
  0%,
  20% {
      transform: rotate(0deg);
  }

  25%,
  45% {
      transform: rotate(-90deg);
  }

  50%,
  70% {
      transform: rotate(-180deg);
  }

  75%,
  95% {
      transform: rotate(-270deg);
  }

  100% {
      transform: rotate(-360deg);
  }
}

.home .profession-box .profession {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $main-color;
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 384px;
  background: $bg-color;
  padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i {
  margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
  padding-bottom: 20px;
}

.home .profession i {
  font-size: 3.8rem;
}

.home .profession h3 {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 600;
}

.home .profession-box .circle {
  width: 560px;
  height: 560px;
  border: 3px solid $main-color;
  border-radius: 50%;
  z-index: -1;
}

.home .profession-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 50vh solid $main-color;
  border-right: 384px solid $main-color;
  border-bottom: 50vh solid $main-color;
  border-left: 384px solid transparent;
}

.home-img img {
  position: absolute;
  bottom: 0;
  right: 40px;
  pointer-events: none;
  max-width: 480px;
  max-height: 100vh;
}

span {
  color: var(--main-color);
}

/* Acerca de mí */

.about {
  @include flex-center;
  gap: 4rem;
}

.about-img img {
  width: 40vw;
}

.heading {
  @extend %heading;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/* Servicios */

.services {
  min-height: auto;
  padding-bottom: 10rem;
}

.services h2 {
  margin-bottom: 5rem;
}

.services .services-container {
  @include flex-center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  @include box(3rem 2rem 4rem, $bg-color, $shadow-color);
  border-radius: 2rem;
  text-align: center;
  border-top: 0.6rem solid $main-color;
  border-bottom: 0.6rem solid $main-color;
  @include transition(0.5s); &:hover {
    box-shadow: 0 0.1rem 2rem $shadow-color;
    transform: scale(1.02);
  }
}

.services-box i {
  font-size: 7rem;
  color: $main-color;
}

.services-box h3 {
  font-size: 2.6rem;
  @include transition(0.5s); &:hover {
    color: $main-color;
  }
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/* Portafolio */

.portfolio {
  min-height: auto;
  padding-bottom: 10rem;
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio .portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  @include flex-center;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.portfolio-box img {
  width: 100%;
  @include transition(0.5s);
  &:hover {
    transform: scale(1.1);
  }
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), $main-color);
  color: $white-color;
  @include flex-center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  opacity: 0;
  @include transition(0.5s);
  &:hover {
    opacity: 1;
  }
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  @extend %circle;
  width: 5rem;
  height: 5rem;
  background: $white-color;
  i {
    font-size: 2rem;
    color: #333;
  }
}

/* Testimonios */

.testimonial-container {
  @include flex-center;
  flex-direction: column;
  width: 100%;
  padding: 5rem 1rem;
}

.testimonial-container .testimonial-wrapper {
  position: relative;
  max-width: 90rem;
  width: 100%;
  padding: 5rem;
}

.testimonial-wrapper .testimonial-box {
  padding: 1rem;
  border-radius: 2rem;
  overflow: hidden;
}

.testimonial-content .testimonial-slide {
  @include box(3rem 5rem, $bg-color, $shadow-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  border-top: 0.8rem solid $main-color;
  border-bottom: 0.8rem solid $main-color;
}

.testimonial-slide img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.5rem solid $bg-color;
  outline: 0.5rem solid $main-color;
}

.testimonial-slide h3 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.testimonial-slide p {
  font-size: 1.4rem;
  text-align: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
  color: $main-color;
}

.testimonial-box .swiper-button-next {
  right: 0;
}

.testimonial-box .swiper-button-prev {
  left: 0;
}

.testimonial-box .swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.8);
}

.testimonial-box .swiper-pagination-bullet-active {
  background: $main-color;
}

/* Contacto */

.contact {
  min-height: auto;
  padding-bottom: 7rem;
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  @include flex-center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: $text-color;
  background: $bg-color;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  box-shadow: 0 0.1rem 0.5rem $shadow-color;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
  @extend %btn;
}
